<ion-view title="<a href='#/tab/topics'><img src='img/sbuddy-logo-rect-220x50.png' height='40'></a>">
  <ion-content>
    <h3 class="center padding"><img src="{{friend.user.picture.thumbnail}}" height="50" style="border-radius:10px;vertical-align:middle"> {{friend.user.name.first|capitalize}} {{friend.user.name.last|capitalize}}</h3>

    <div class="padding">
	    <div class="bubble">
	    	Hey do you want to meet up to study at {{friend.user.location.street}}?
	    </div>
	  </div>


  </ion-content>


</ion-view>
